body {
    background-color: DarkSlateGrey;
}

h1, h2, h3, h4, h5, h6, h7, h8 {
    font-family: "Montserrat", sans-serif;
    color: Azure;
}

p {
    font-size: 23px;
    color: SlateGrey;
}

a:link {
    color: MediumSlateGrey;
}

/* Slim down sidebar */
.w3-sidebar {
    width: 60px;
}

/* Move over 60px */
.w3-display-topleft {
    left: 60px;
}

/* Move down to be lower than title */
.w3-top {
    top: 80px; /* Kinda a hack, not the best solution out there. */
}

/* Padding because i'm lazy */
.title-padding {
    padding: 8px 7%!important
}

.content-padding {
    padding-top:6%!important;
    padding-bottom:6%!important;
}

.content-padding-mobile {
    padding-top:10%!important;
    padding-bottom:10%!important;
}

.footer-padding {
    padding-left: 5%!important;
}

/* Left Margin for Sidebar */
#main {
    margin-left: 60px;
}