body {
    background-color: firebrick;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    color: azure;
}

p {
    font-size: 1.2em;
    color: azure;
}

a:link {
    color: DarkRed;
}

.btn-circle {
  width: 15%;
  border-radius: 50%;
}

.custom-boxes {
    background-color: #2b2f33;
    border: 1px solid firebrick;
}

#header {
    padding: 5px;
}

#dropdown {
    background-color: #2b2f33;
}